<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    
    
  <link rel="stylesheet" href="{{ url_for('static', filename='general_css/general_statistics.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>

<body>
  <nav class="parallax navbar navbar-expand-md navbar-dark bg-dark sticky-top" style="background-position: 0px 339.867%;">
    <div class="container"> <a class="navbar-brand" href="./general.html">
        <img id="logo" src="{{ url_for('static', filename='background/logo.png') }}" alt="Logo" height="30" width="30">
        <font size="5"><b> ILPH</b></font>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('general', _anchor='introduction') }}">Introduction</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('general', _anchor='purposes') }}">Purposes</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('general', _anchor='technology') }}">Technology</a> </li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('general', _anchor='upcoming') }}"><i><b>Upcoming Features</b></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{{ url_for('general', _anchor='devs') }}"><b>Developers</b></a></li>
        </ul><i>
        </i>
      </div><i>
      </i>
    </div><i>
    </i>
  </nav>
  <div class="py-5 text-center text-white" style="position: relative; overflow: hidden;"> <video autoplay="" loop="" muted="" plays-inline="" style="position: absolute; right: 0; top: 0; min-width:100%; z-index: -100;">
      <source src="{{ url_for('static', filename='background/backgroundVid_7.mp4') }}" type="video/mp4"> </video>
    <div class="container py-5">
      <div class="p-5 mx-auto col-md-8 col-10">
        <h3 class="display-3" style="width:800px; margin-left:-90px">Analysis &amp; Improvements</h3>
        <p class="mb-3 lead"><i>"Not to Replace, but to Improve"</i></p>
        <p class="mb-4">We admire the AMBER Alert's goal and acheivements with 94% of success rate. We inherit the idea and try to improve it. Still, there are huge amounts of risks that involve in the system of using Citizen sourcing. Hence, we came up with an idea of using another aproach with the same goal, and aiming for a more effective results.</p> <a class="btn btn-secondary" href="#amberConstraints">Read More</a>
      </div>
    </div>
  </div>
  <div id="amberConstraints" class="py-3">
    <div class="container">
      <h1 style="text-align:center;"> AMBER Alert's Contraints </h1>
      <div class="row">
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#1</b> </h4>
          <p>Might as well notify the wanted targets that they are being wanted. (Which sometimes can put victims in danger).</p>
        </div>
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#2</b> </h4>
          <p>Hard to manage with multiple cases. Citizens cannot keep track or remember the details with multiple cases.</p>
        </div>
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#3</b> </h4>
          <p>Might distract citizens who are driving.&nbsp;</p>
        </div>
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#4</b> </h4>
          <p>Citizen sources are not always available. For example, very late at night or small streets with lack of vehicles.</p>
        </div>
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#5</b> </h4>
          <p>Cannot generate useful information if citizens are not on the street.</p>
        </div>
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#6</b> </h4>
          <p>Not real-time effective. Citizens have to make a call and authorities will take some times to react to it.</p>
        </div>
        <div class="col-lg-3 col-md-1 p-4">
          <h4> <b>#7</b> </h4>
          <p>Hard to keep track of the wanted vehicles which requires citizens to follow the targets in order to know the exact locations.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="improvements" class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>How ILPH can eliminate the Constraints?</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-circle fa-3x mb-2 text-muted"></i>
          <h4> <b>Availability</b></h4>
          <p>The system will use CCTV and Cameras which is 24/7 available and can access anytime.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-stop-circle-o fa-3x mb-2 text-muted"></i>
          <h4> <b>Management</b></h4>
          <p>Able to manage multiples reports and multiple searches at same time.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-stop-circle fa-3x mb-2 text-muted" style=""></i>
          <h4> <b>Real-time Effectiveness</b></h4>
          <p>ILPH can use all CCTV and look for wanted vehicles in real-time. It can also track and draw paths of the targets then notify the authorities.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-circle-o fa-3x mb-2 text-muted"></i>
          <h4> <b>Safety</b></h4>
          <p>By operate quietly and fast, it is a lot safer for both Victims and Drivers.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
  <script src="{{ url_for('static', filename='js/browser.js') }}"></script>
</body>

</html>