#loginForm{
    background-image: linear-gradient(to bottom, #0CCDA3, #C1FCD3,  #C1FCD3);	
    background-position: top left;	
    background-size: 100%;	
    background-repeat: repeat;
}
#recoverLink{
    color: #006F21;
}