 <div class="form-group row">
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAt97rTnR5Eklc1CRXp2qdCg1rQcEuZSww
              &center=-33.8569,151.2152
              &zoom=18
              &maptype=roadmap" allowfullscreen>
            </iframe>
            
          <script>
          function initMap() {
            var myLatLng = {lat: -33.8569, lng: 151.2152};

            var mapp = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: myLatLng
            });

            var marker = new google.maps.Marker({
              position: myLatLng,
              map: mapp,
              title: 'Hello World!'
            });
          }
          
          </script>



            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt97rTnR5Eklc1CRXp2qdCg1rQcEuZSww&callback=initMap"
  type="text/javascript"></script>