<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabone">Tab 1</a> </li>
            <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">Tab 2</a> </li>
            <li class="nav-item"> <a href="" class="nav-link active" data-toggle="pill" data-target="#tabthree">Tab 3</a> </li>
          </ul>
          <div class="tab-content mt-2">
            <div class="tab-pane fade" id="tabone" role="tabpanel">
              <p class="">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite.</p>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface.</p>
            </div>
            <div class="tab-pane fade active show" id="tabthree" role="tabpanel">
              <form id="c_form-h" class="">
                <h3 class="">Personal Information </h3>
                <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">User ID</label>
                  <div class="col-10">
                    <input class="form-control" id="info_userID" name="info_userID"> </div>
                </div>
                <div class="form-group row"> <label class="col-2 col-form-label">Username</label>
                  <div class="col-10">
                    <input class="form-control" id="info_username" name="info_username"> </div>
                </div>
                <div class="form-group row"> <label class="col-2 col-form-label">Name</label>
                  <div class="col-10">
                    <input class="form-control" id="info_name" name="info_name"> </div>
                </div>
                <div class="form-group row"> <label class="col-2 col-form-label">Age</label>
                  <div class="col-10">
                    <input class="form-control" id="info_age" name="info_age"> </div>
                </div>
                <div class="form-group row"> <label class="col-2 col-form-label">Address</label>
                  <div class="col-10">
                    <input class="form-control" id="info_address" name="info_address"> </div>
                </div>
                <div class="form-group row"> <label class="col-2 col-form-label">Role</label>
                  <div class="col-10">
                    <input class="form-control" id="info_role" name="info_role"> </div>
                </div>
                <div class="form-group row"> <label class="col-2 col-form-label">Phone Number</label>
                  <div class="col-10">
                    <input class="form-control" id="info_phone" name="info_phone"> </div>
                </div>
                <h3 class="">Change Password </h3>
                <div class="form-group row"> <label for="info_prevPassword" class="col-2 col-form-label">Current Password</label>
                  <div class="col-10">
                    <input id="info_prevPassword" name="info_prevPassword" type="password" class="form-control"> </div>
                </div>
                <div class="form-group row"> <label for="info_newPass" class="col-2 col-form-label">New Password</label>
                  <div class="col-10">
                    <input class="form-control" id="info_newPass" name="info_newPass" type="password"> </div>
                </div>
                <div class="form-group row"> <label for="info_retypePass" class="col-2 col-form-label">Retype New Password</label>
                  <div class="col-10">
                    <input class="form-control" id="info_retypePass" name="info_retypePass" type="password"> </div>
                </div>
                <div class="form-group row">
                  <div class="col-12" style="text-align:center">
                    <button type="submit" class="btn btn-primary">Submit</button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form id="c_form-h" class="">
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">E-mail</label>
              <div class="col-10">
                <input type="email" class="form-control" id="inputmailh" placeholder="mail@example.com"> </div>
            </div>
            <div class="form-group row"> <label for="inputpasswordh" class="col-2 col-form-label">Password</label>
              <div class="col-10">
                <input type="password" class="form-control" id="inputpasswordh" placeholder="Password"> </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>